body{
	
}

.side{
	height:80%;
}
.correct{
	background-color:#27e833;
}
.wrong{
	background-color:red;
}
#left{
	background-color:blue;
}
#right{
	background-color:orange;S
}
#top{
	height:20%;
	padding-top: 20px;
	font-size: 4em;
}
